<?xml version='1.0' encoding='UTF-8' ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">


      <!--
      	Se debe configurar el AWSAccessKeyId,AWSSecretKey y la region con la de la cuenta que
      	le entregue el administrador de AWS
       -->
     <bean class="com.vortexbird.aws.s3.VortexAWSCredentials" id="vortexAWSCredentials">
     	<property name="AWSAccessKeyId" 	value="TU_AWS_KEY_ID"/>
     	<property name="AWSSecretKey" 	value="TU_SECRET_KEY"/>
     	<property name="region" 			value="us-east-1"/>
     </bean>

	<context:component-scan base-package="com" scoped-proxy="interfaces" />

</beans>
